/* AC_Home.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#wrapper {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#logo {
    flex-basis: 20%;
}

#search-bar {
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

#function-button-bar {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
}

.function-button {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    background-color: #007bff;
    border: none;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 35px;
    margin-left: 5px;
}

#search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

#search-bar #search-button-container {
    margin-left: 10px;
}

.search-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#content-wrapper {
    display: flex;
    border-bottom: 1px solid #ddd;
}

#menu-bar {
    flex-basis: 20%;
    background-color: #f4f4f4;
    padding: 10px;
}

#menu-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-bar li {
    margin-bottom: 5px;
}

#menu-bar a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

#content {
    flex-basis: 80%;
    padding: 20px;
}

.item {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#footer {
    margin-top: 5px;
    background-color: #333;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

#promotion {
    text-align: center;
    padding-top: 15px;
    height: 200px;
}

.grid-item img {
    max-width: 80%; /* Ensure the image fits within the grid item */
    height: auto; /* Maintain the aspect ratio of the image */
  }

  .item-large {
    grid-column: span 3;
    /* Occupies 3 columns */
    grid-row: span 3;
    /* Occupies 3 rows */
}

.item-medium {
    grid-column: span 2;
    /* Occupies 2 columns */
    grid-row: span 2;
    /* Occupies 2 rows */
}

.item-small {
    grid-column: span 1;
    /* Occupies 1 columns */
    grid-row: span 1;
    /* Occupies 1 rows */
}

.grid-container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Adjust the number of columns as needed */
    grid-gap: 10px;
    /* Adjust the gap between grid items as needed */
    height: 150px;
}

.grid-item {
    background-color: #979797;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu-dropdown {
    margin: 10px;
}

#menu-select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}


#change-image-button {
    margin-top: 10px;
    padding: 5px 10px;
}