<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="AC_Home.css">
    <title>Air Conditioning</title>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>

</head>

<body>
    <div id="wrapper">
        <header>
            <div id="logo"></div>
            <div id="search-bar">
                <input type="text" placeholder="Search...">
                <div id="search-button-container">
                    <img th:src="@{/images/search.png}" alt="Search Icon" class="search-icon">
                </div>
            </div>
            <div id="function-button-bar">
                <button id="compare-button" class="function-button"></button>
                <button id="account-button" class="function-button"></button>
                <button id="cart-button" class="function-button"></button>
            </div>
        </header>

        <div id="content-wrapper">
            <aside id="menu-bar">
                <ul>
                    <li><a href="#">Split System Air Conditioners</a></li>
                    <li><a href="#">Ducted Air Conditioners</a></li>
                    <li><a href="#">Multi-Head Split Systems</a></li>
                    <li><a href="#">Under Ceiling | Floor Consoles</a></li>
                    <li><a href="#">Ceiling Cassette Air Conditioners</a></li>
                    <li><a href="#">Cooling Only | Split Systems</a></li>
                    <li><a href="#">Window Wall Air Conditioners</a></li>
                    <li><a href="#">Portable Air Conditioners</a></li>
                    <li><a href="#">Heaters</a></li>
                    <li><a href="#">Air Curtains</a></li>
                    <li><a href="#">Air Purifiers</a></li>
                    <li><a href="#">Dehumidifiers</a></li>
                    <li><a href="#">Ventilation Fans</a></li>
                    <li><a href="#">HH & Cooling AD Systems</a></li>
                    <li><a href="#">Commercial Air Conditioners</a></li>
                    <li><a href="#">AC Installation Information</a></li>
                    <li><a href="#">Air Conditioning Accessories</a></li>
                    <li><a href="#">Appliances</a></li>
                    <li><a href="#">RV Air Conditioner</a></li>
                </ul>
            </aside>

            <main id="content">
                <div class="grid-container-1">
                    <div class="grid-item item-medium">Item 1</div>
                    <div class="grid-item item-small">Item 2</div>
                    <div class="grid-item item-small">Item 3</div>
                    <div class="grid-item item-small">Item 4</div>
                    <div class="grid-item item-small">Item 5</div>
                    <div class="grid-item item-small">Item 6</div>
                </div>                
            </main>
        </div>

        <div id="promotion">
            <div class="grid-container-1">
                <div class="grid-item item-small">
                    <h2>Item 1</h2>
                    <img id="item-image" src="Img/demo 2.png" alt="Item Image">
                    <button id="change-image-button">
                        <i class="fa fa-angle-left"></i>
                        <i class="fa fa-angle-right"></i>
                        Change Image
                    </button>
                </div>
                <div class="grid-item item-small"><img src="Img/demo 2.png" alt="Image description">
                    <p>Item 2</p>
                </div>
                <div class="grid-item item-small"><img src="Img/demo 2.png" alt="Image description">
                    <p>Item 3</p>
                </div>
                <div class="grid-item item-small"><img src="Img/demo 2.png" alt="Image description">
                    <p>Item 4</p>
                </div>
            </div>
        </div>

        <footer id="footer">
            <span>&copy; 2023 Air Conditioning. All rights reserved.</span>
        </footer>
    </div>

    <script src="HomeScript.js"></script>
</body>

</html>
