<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/AC_Home.css}">
    <title>Air Conditioning</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <div id="logo"></div>
            <div id="search-bar">
                <input type="text" placeholder="Search...">
                <div id="search-button-container">
                    <img th:src="@{/images/search.png}" alt="Search Icon" class="search-icon">
                </div>
            </div>
            <div id="function-button-bar">
                <button id="compare-button" class="function-button"></button>
                <button id="account-button" class="function-button"></button>
                <button id="cart-button" class="function-button"></button>
            </div>
        </header>

        <div id="content-wrapper">
            <aside id="menu-bar">
                <ul>
                    <li><a href="#">Split System Air Conditioners</a></li>
                    <li><a href="#">Ducted Air Conditioners</a></li>
                    <li><a href="#">Multi-Head Split Systems</a></li>
                    <li><a href="#">Under Ceiling | Floor Consoles</a></li>
                    <li><a href="#">Ceiling Cassette Air Conditioners</a></li>
                    <li><a href="#">Cooling Only | Split Systems</a></li>
                    <li><a href="#">Window Wall Air Conditioners</a></li>
                    <li><a href="#">Portable Air Conditioners</a></li>
                    <li><a href="#">Heaters</a></li>
                    <li><a href="#">Air Curtains</a></li>
                    <li><a href="#">Air Purifiers</a></li>
                    <li><a href="#">Dehumidifiers</a></li>
                    <li><a href="#">Ventilation Fans</a></li>
                    <li><a href="#">HH & Cooling AD Systems</a></li>
                    <li><a href="#">Commercial Air Conditioners</a></li>
                    <li><a href="#">AC Installation Information</a></li>
                    <li><a href="#">Air Conditioning Accessories</a></li>
                    <li><a href="#">Appliances</a></li>
                    <li><a href="#">RV Air Conditioner</a></li>
                </ul>
            </aside>

            <main id="content">
                <div class="item">Item 1</div>
                <div class="item">Item 2</div>
                <div class="item">Item 3</div>
                <div class="item">Item 4</div>
                <div class="item">Item 5</div>
                <div class="item">Item 6</div>
            </main>
        </div>

        <footer id="footer">
            <span>&copy; 2023 Air Conditioning. All rights reserved.</span>
        </footer>
    </div>
</body>

</html>
